:root {
	--brown: #59443f;
	--orange: #ffc59e;
	--text: #080606;
	--bg: #fffefe;
	--brown-light: #c3b9b5;
	--brown-bg: #ede9e8;
}

:root {
    --font-family: "Futura New", sans-serif;
    --second-family: "SchoolBook", sans-serif;
  }

*{
    box-sizing: border-box;
}
html,body{
 width: 100%;
}
body{
    margin: 0px;
}

ul,
li {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

a{
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

.wrapper {
    min-height: 100%;

}

.conteaner {
    margin: 0 auto;
    max-width: 1550px;
    padding: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 100px;
    margin-right: 235px;
}

.nav__list {
    display: flex;
    column-gap: 80px;
}

.nav__link {
    font-family: 'Futura New';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #C3B9B5;
    text-transform: uppercase;
    text-decoration: none;
}
.dop{
    color: var(--brown);
}
.content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
}

.title-block {
    width: 49%;
    padding-top: 200px;
}

.header__title {
    line-height: 110px;
    font-size: 80px;
    color: #080606;
    font-weight: 400;
    margin-bottom: 50px;
}

.title{
    font-weight: 400;
}
.btn {
    background-color: #FFC59E;
    box-shadow: 0px 4px 20px #FFC59E;
    border-radius: 33.5px;
    border: none;
    font-size: 20px;
    color: #ffffff;
    text-transform: uppercase;
    padding: 24px 77px;
    line-height: 20px;
}

.content__img-wrap {
    width: 50%;
    height: 768px;
}


.services__list {
    max-width: 1352px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 145px;
    column-gap: 24px;
    margin-bottom: 145px;
}
.services__item {
    border-radius: 20px;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.3);
    width: 320px;
    height: 220px;
    background: var(--bg);
    color: var(--brown);
    padding: 24px;
    position: relative;
    margin-bottom: 24px;
}

.item__title{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 30px;
    line-height: 133%;
    margin-bottom: 112px;

}

.big-title{
    margin-bottom: 72px;
}
.item__img {
    position: absolute;
    top: 87px;
    left: 173px;
}
.quantity-services {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 100%;
}

.history{
    font-weight: 400;
    background: #fbf8f8;
    padding-top:187px;
    padding-bottom:100px;
}
.history__content{
    max-width: 479px;
    margin: 0 auto;
}
.history__title{
    font-family: var(--second-family);
    font-size: 40px;
    text-align: center;
    color: var(--text);
    margin-bottom:48px;
}

.history__subtitle{
    font-family: var(--font-family);
    font-size: 20px;
    line-height: 150%;
    color: var(--brown);
    margin-bottom: 36px;
}

.history__link{
    max-width:168px;
    margin: 0 auto;
}

.further{
    font-family: var(--font-family);
    font-weight: 700;
    color: var(--orange);
    
}



.doctors{
    background-color:#fbf8f8;
    text-align: center;
    padding-bottom: 199px;
}

.doctors__content{
    max-width: 1253px;
    margin: 0 auto;
}

.doctors__title{
    font-family: var(--second-family);
    font-size: 40px;
    color: var(--text);
    margin-bottom: 46px;

}
.slider{
    margin-bottom:36px;
}
.slider__list{
    display: flex;
    justify-content: center;
    column-gap: 15px;
    position: relative;
}

.slider__nav{
    position: absolute;
    bottom:-1855px;
}


.nav__arrow-left{
    position: absolute;
    left: 100px;
}

.nav__arrow-right{
    position: absolute;
    right: -1153px;

}
@media (max-width: 1368px){ 
    .slider__nav{
        bottom: -2344px;
    }
}
@media (max-width: 910px){
    .content{
    display: block;
    }
}
.helpers__conteaner{
    margin: 0 auto;
    padding-top:323px;
}
.helpers__desc{
     text-align: center;
     margin: 0 auto;
     margin-bottom: 473px;
}

.helpers__title{
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 144px;
    color: var(--brown);
    margin-bottom:20px;
}

.helpers__subtitle{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 70px;
    line-height: 137%;
    color: var(--text);
    max-width:800px ;
    text-align: center;
    margin: 0 auto;
    position: relative;
}
.helpers__img{
    position: absolute;
    left: 1101px;
    top: 3800px;
}

.Advantages__titles{
    text-align: center;
    font-size: 40px;
    margin-bottom:104px;
} 

.Advantages__list{
    flex-wrap: wrap;
    display: flex;
    column-gap:94px;
    margin-bottom: 309px;
}

.Advantages__item{
    max-width:484px;
    margin-bottom:70px;
}
.Advantages__title{
    font-family: var(--second-family);
    color: var(--text);
    font-weight: 400;
}

.Advantages__item__title{
    font-size: 30px;
    margin-bottom: 36px;
}

.Advantages__desc{
    display: flex;
}

.Advantages__text{
    max-width:318px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: var(--brown);
    margin-left:45px ;
}

.app{
    background:var(--orange);
    padding-top:251px ;
    padding-bottom:169px;
}
.app__conteaner{
    display: flex;
    flex-wrap: wrap;
}


.app__text{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 30px;
    color: #fff;
    margin-bottom:30px;
}

.app__title{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 80px;
    line-height: 137%;
    color: #fff;
    max-width:826px;
    margin-bottom:30px;
}

.contacts__content{
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
}

.contacts{
    padding-top:235px;
    padding-bottom:209px;
}
.contacts__desc{
    margin-right:69px;
    margin-bottom: 30px;
}
.contacts__title{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 40px;
    color: var(--text);
    margin-bottom: 70px;
}

.conacts__titles{
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 30px;
    color: var(--text);
    margin-bottom:20px;
    margin-top: 40px;
}

.contacts__item__text, .contacts__item__link{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: var(--brown);
    margin-bottom:15px;
}

.conntacts__item{
    display: flex;
}

.contacts__item__img{
    margin-right: 20px;
}

.footer{
    background: var(--brown);
    padding-bottom: 130px;
}

.footer__conteaner{
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
}

.footer__logo{
    margin-left: 22px;
    margin-bottom:29px;
}
.footer__titles{
    display: flex;
}
.politic{
    max-width: 192px;
    margin-left: 112px;
}

.footer__link{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #fff; 
}

.contacts__social-network{
    display: flex;
    column-gap:50px;
    margin-top:30px;
    margin-bottom:30px;
}

.e-mail__link{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: #fff;
}

.footer__list-2, .footer__list-3{
    margin-top: 95px;
}



.back-link{
    display: flex;
    margin-bottom: 60px;
}

.back__text{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    color: var(--orange);
}

